//- Put your markup here
section.section.first-screen.container
  h1.first-screen__title
    span(class="anim-typewriter anim-typewriter-1" data-text="Reduce no-shows -")
    span(class="anim-typewriter anim-typewriter-2" data-text="send automated email reminders 😉")
  form.form
    div.input-wrapper
      input(placeholder="Your Email" name="email" type="email" class="form-control")
      button(type="submit" class="btn btn--default ")
        | Join Waitlist →
  p.gradient-text How it Works ↓
