footer.footer
  div.footer__content.container
    nav.socials
      a(href="#" class="socials__item")
        +icon("slack")
        | Be part of the journey
      a(href="#" class="socials__item")
        +icon("twitter")
        | Stay up to date

    nav.footer__nav
      a(href="#" class="footer__nav-item") Privacy Policy
      a(href="#" class="footer__nav-item") Terms of Service

    p.footer__copyright © 2021 Aghhh
