// From white to black
$white:         #fff;
$gray-1:        rgba($white, 0.75);
$gray-2:        rgba($white, 0.5);
$black:         #000;

// Main palette
$purple:        #6045e5;

// Theme colors
$primary:       $white;
$secondary:     $black;
